<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>
</head>
<body>

   


    <h3 style="text-align:center">**********pyfolio绩效统计结果**********</h3>

    <center>

    {% for table in performance_tables %}
            {{ table|safe }}
    {% endfor %}
    
    <h3 style="text-align:center" >**********收益图**********</h3>
    <img src="./static/image/returns_tear_sheet.png" align="middle" width="80%" alt="returns">
    <h3 style="text-align:center" >**********持仓图**********</h3>
    <img src="./static/image/position_tear_sheet.png" align="middle" width="80%" alt="position">
    <h3 style="text-align:center" >**********特殊时段收益**********</h3>
    <img src="./static/image/interesting_times_tear_sheet.png" align="middle" width="80%" alt="interesting_times">
    <h3 style="text-align:center" >**********txn分析**********</h3>
    <img src="./static/image/txn_tear_sheet.png" align="middle" width="80%" alt="txn">



    <h3 style="text-align:center">**********极端事件分析**********</h3>

    
    {% for table in stress_events_tables %}
            {{ table|safe }}
    {% endfor %}
    
    <h3 style="text-align:center">**********10个最大的多头仓位**********</h3>

    
    {% for table in long_position_tables %}
            {{ table|safe }}
    {% endfor %}
    
    <h3 style="text-align:center">**********10个最大的空头仓位**********</h3>

   
    {% for table in short_position_tables %}
            {{ table|safe }}
    {% endfor %}
       
    <h3 style="text-align:center">**********10个最大的仓位**********</h3>

    
    {% for table in total_position_tables %}
            {{ table|safe }}
    {% endfor %}
   
    <h3 style="text-align:center" >**********历史回撤分析**********</h3>

    
    {% for table in worst_drawdown_tables %}
            {{ table|safe }}
    {% endfor %}
    </center>

</body>


</html>